{% extends 'seapp/base.html' %}


{% load static %}


{% block container %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
<br><br>
<div class="row">
    <div class='col-12 col-md-6 offset-md-3 overflow-auto'>
        <div class="card">
            <div class="card-body">
                <h2>Experiencias Laborales</h2>
                <form action="" class="formExperiencialaboral" method="post">

                    <!--Token de seguridad-->
                    {% csrf_token %}

                    {{ form | crispy }}

                    <br>
                    <div class='d-flex justify-content-end'>
                        <button type="submit" id="btnCancelar" class="btn btn-secondary">Cancelar</button>
                        &nbsp;
                        <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
                    </div>  
                </form>

            </div>
        </div>
    </div>
</div>

<!--Imprimo Mensaje-->
{{ message }}
<table id="tablaexperiencialaboral"></table>
    

{% endblock %}